MODEL_DIR=./profanity_filter_model
MODEL_ARCHIVE=./model.zip
S3_BUCKET_NAME=
S3_MODEL_KEY=profanity_filter_model.zip
AWS_DEFAULT_REGION=ap-northeast-2
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
CORS_ORIGINS=http://localhost:3001,http://localhost:3005
PROFANITY_THRESHOLD=0.5
LOG_LEVEL=INFO
